################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/aws-rabbitmq/FileContentIndex
/.vs/aws-rabbitmq/v17
/.vs/aws-rabbitmq/DesignTimeBuild
/*/obj
/*/bin

