################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/aws-rabbitmq/FileContentIndex
/ApiProducer/obj
/.vs/aws-rabbitmq/DesignTimeBuild
/ConsoleProducer/obj
/ConsumerService/obj
